<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.ne.hatena.vvakame" android:versionName="0.5"
	android:versionCode="5">
	<application android:label="@string/app_name" android:icon="@drawable/at_yamaden_presents">
		<activity android:label="@string/app_name" android:name="TwishroomActivity">
			<provider android:name="TwishroomProvider"
				android:authorities="jp.ne.hatena.vvakame.TwishrommProvider" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name="TwishroomActivity">
			<intent-filter>
				<action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
				<category android:name="com.adamrocker.android.simeji.REPLACE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="PreferencesActivity"></activity>
	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
